@{
    ViewData["Title"] = "Carrinho";
}
<h3>Meu Carrinho</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 text-center">
                <span>Item</span>
            </div>
            <div class="col-md-2 ">
                <span>Valor Unit.</span>
            </div>
            <div class="col-md-2 ">
                <span>Quantidade</span>
            </div>
            <div class="col-md-2 ">
                <span class="pull-right">SubTotal</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/images/produtos/large_4.jpg" />
        </div>
        <div class="col-md-3">
            REST
        </div>
        <div class="col-md-2">
            R$70,00
        </div>
        <div class="col-md-2">
            3
        </div>
        <div class="col-md-2 ">
            <span class="pull-right">R$210,00</span>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                Total: 3 itens
            </div>
            <div class="col-md-2">
                R$210,00
            </div>
        </div>
    </div>
</div>